project_id = "sifter-front-end-supabase"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54325
shadow_port = 54326
major_version = 15

[studio]
enabled = true
port = 54329  # Changed from 54324 to avoid conflicts
api_url = "http://127.0.0.1"

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://127.0.0.1:3000"]
jwt_expiry = 3600
enable_refresh_token_rotation = true

[storage]
enabled = true
file_size_limit = "50MiB"

[analytics]
enabled = true
port = 54327
backend = "postgres"